name: Review PR and Staging merge

# Ao abrir uma PR, o c칩digo ser치 testado e caso estiver correto, ser치 feito o merge autom치tico na branch staging
on:
  pull_request:
    branches:
      - staging
    types: [opened, synchronize]
  check_suite:
    types:
      - completed

jobs:
  test-and-merge:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install pipenv and libpq
        run: |
          sudo apt-get install libpq-dev -y
          pip install pipenv

      - name: Install dependencies
        run: |
          pipenv install
          pip install flake8

      - name: Syntax check
        run: flake8 --exclude=migrations .

      - name: automerge
        id: automerge
        uses: "pascalgn/automerge-action@v0.16.2"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"